{% extends 'master.html' %}
{% load customfilter %}
{% load static %}
{% block content %}
<style>
    .price {
        font-size: 20px;
    }

    #viedo_list {
        overflow-y: scroll;
    }

    .active-viedo {
        background-color: rgb(203, 216, 230);
        color: tan;
    }

    a:hover {
        text-decoration: none;
    }

    a {
        color: rgb(68, 61, 61);
    }

    .no-preview {
        cursor: not-allowed;
    }
</style>
<div hidden class="conatiner-fluid">
    {{ course}}
    {{ slug }}

</div>
<br>
<div>
    {{video.video_id}}
    <div class='card p-3'>
        <div class='row'>
            <!-- viedo -->
            <div class="col">
                <div class="mx-auto  ">
                    <iframe id='player' width="100%" src="https://www.youtube.com/embed/{{video.video_id}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>

            <!-- list of viedo -->
            <div class="col-3" id='viedo_list'>
                
                <ul class="list-group">
                    {% for v in videos %}

                    <li class="list-group-item {% if v == video %}  active-viedo {% endif %} {% if not  v.is_preview %}  text-muted no-preview {% endif %} ">
                        <a class="{% if not  v.is_preview %}  text-muted no-preview {% endif %}" href="?lecture={{ v.serial_number }}">{{ v }}</a>
                    </li>
                    <!-- <li class="list-group-item">Item</li> -->
                    {% endfor %}
                </ul>
            </div>



        </div>
    </div>
    <!-- course detail -->
    <div class="mt-3">
        <div>
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">{{course.name}}</h5>
                    <p class="card-text">{{course.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- prerequistic -->
    <div class="mt-3">
        <div>
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Prerequistic</h5>
                    <p class="card-text">
                    <ol class="">
                        {% for p in course.prerequisite_set.all %}
                        <li>{{p.description}}</li>
                        {% endfor %}
                    </ol>

                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- learning -->
    <div class="mt-3">
        <div>
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Learning</h5>
                    <p class="card-text">
                    <ol class="">
                        {% for p in course.learning_set.all %}
                        <li>{{p.description}}</li>
                        {% endfor %}
                    </ol>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/course_page.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/scrolbar.css' %}" {% endblock %}